apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: frontend
  namespace: ola
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
      namespace: ola
    spec:
      containers:
      - name: nginx
        image: oriolaf/webserver:latest
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits: 
            cpu: 100m
            memory: 256Mi
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http
        volumeMounts:
        - name: nginx-confmap
          mountPath: /etc/ngnix/conf.d
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx-confmap
          items:
          - key: default.conf
            path: default.conf
